<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../static/js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}"></script>

		<script type="text/javascript" src=".../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>

		<script type="text/javascript" src="../static/js/china.js" th:src="@{/js/china.js}"></script>

		<script type="text/javascript" src="../static/js/world.js" th:src="@{/js/world.js}"></script>
	</head>
	<body>
		内蒙古
		包头
	</body>
</html>
